<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenidos a empresas.com, <%= @user.name %></h1>
    <p>
      Te has registrado con éxito en example.com, tu nombre de usuario es: <%= @user.name %>.<br>
    </p>
    <p>
      Para iniciar sesión en el sitio, simplemente siga este enlace: <%= @url %>.
    </p>
    <p>¡Gracias por unirte y que tengas un gran día!!</p>
  </body>
</html>